.game {
    /*text-align: center;
    width:100%*/
    position:relative;
}

.board {
    line-height:0px;
    background-image: url("/image/wood.jpg"); /* http://zooboingreview.blogspot.com/ */
    display:inline-block;
    min-width:711px;
}

.board .intersection {
    display:inline-block;
    position:relative;

    background-image: url("/image/black-vertical.png");
    background-position: center;
    background-repeat: no-repeat;
    width:39px;
    height:39px;
}

.board .intersection-inner {
    position:absolute;
    width:39px;
    height:39px;
    background-position: center;
    background-image: url("/image/black-horizontal.png");
    background-repeat: no-repeat;
}

.board .intersection[data-y="0"] {
    background-position: center 19px;
}

.board .intersection[data-y="18"] {
    background-position: center -81px;
}

.board .intersection[data-x="0"] .intersection-inner {
    background-position: 19px center;
}

.board .intersection[data-x="18"] .intersection-inner {
    background-position: -81px center;
}

.board .intersection[data-x="3"][data-y="3"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="9"][data-y="3"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="15"][data-y="3"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="3"][data-y="9"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="9"][data-y="9"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="15"][data-y="9"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="3"][data-y="15"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="9"][data-y="15"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .intersection[data-x="15"][data-y="15"] .hoshi {
    background-image: url("/image/black-dot.png");
    background-repeat: no-repeat;
    background-position: center;
    width:39px;
    height:39px;
}

.board .stone-shadow {
    background-image: url("/image/shadow.png");
    position:absolute;
    width:39px;
    height:39px;
    left:3px;
    top:3px;
}

.board .stone {
    position:absolute;
    width:39px;
    height:39px;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    font-size: 26px;
    line-height: 39px;
    cursor: default;
    font-weight:bold;

    -moz-user-select: none;
    -webkit-user-select: none;
}

.board .stone.white {
    opacity: 1;
    background-image: url("/image/white-stone.png");
    color: black;
}

.board .stone.black {
    opacity: 1;
    background-image: url("/image/black-stone.png");
    color: white;
}

.board .stone .last-move {
    position:absolute;
    width:39px;
    height:39px;
    background-position: center;
    background-repeat: no-repeat;
}

.board .stone.black .last-move {
    background-image: url("/image/white-dot.png");
}

.board .stone.white .last-move {
    background-image: url("/image/black-dot.png");
}

.board .stone.vote-1 {
    opacity: .25
}

.board .stone.vote-2 {
    opacity: .3
}

.board .stone.vote-3 {
    opacity: .35;
}

.board .stone.vote-4 {
    opacity: .4;
}

.board .stone.vote-5 {
    opacity: .5;
}

.board .stone.preview-white {
    opacity: .7;
    background-image: url("/image/white-stone.png");
}

.board .stone.preview-black {
    opacity: .7;
    background-image: url("/image/black-stone.png");
}

.board .stone.confirmed {
    opacity: 1;
}

.board-marker.highlight {
    border-bottom: 3px solid black;
}

.board-letter {
    position:absolute;
    top: -15px;
    margin-left:19px;
    font-weight:bold;
    font-size:smaller;
}

.board-number {
    position: absolute;
    left: -30px;
    margin-top: 14px;
    font-weight:bold;
    font-size:smaller;
    text-align: right;
    width: 2em;
}

.board .bot-text {
    position:absolute;
    left: 8px;
    font-size: 15px;
    font-weight:bold;
    text-shadow: white 0.1em 0.1em 0.2em;
}

.not-game-in-progress .board-letter {
    display: none;
}

.not-game-in-progress .board-number {
    display: none;
}

.player-display .player-display-info {
    margin-left:1em;
}

.player-display .player-time{
    margin-left: 1em;
}