.chat {

}

.chat .chat-messages {
    height:788px;
    overflow:auto;
    overflow-x:hidden;
}

.chat .chat-message-from{
    font-weight: bold;
}

.chat .chat-message {
    margin-top: .25em;
}

.chat .chat-entry {

}

.chat .chat-entry input[type="text"] {
    width:70%
}