.board {
    line-height:0px;
}

.board .intersection {
    display:inline-block;
    position:relative;

    background-image: url("/image/black-vertical.png");
    background-position: center;
    background-repeat: no-repeat;
    width:45px;
    height:45px;
}

.board .row {
    background-image: url("/image/black-horizontal.png");
    background-position: center;
    background-repeat: repeat-x;
}

.board .row-0 .intersection {

}

.board .stone {
    position:absolute;
    width:45px;
    height:45px;
    background-position: center;
    background-repeat: no-repeat;
}

.board .stone.white {
    background-image: url("/image/white-stone.png");
}

.board .stone.black {
    background-image: url("/image/black-stone.png");
}